In [1]:
import pandas as pd
a=pd.read_excel(r"shoe_sales.xlsx")
a.head(10)

                  date   brand  sold_qty
0  2023-01-09 00:00:00    Nike      24.0
1  2023-01-09 00:00:00  Adidas      14.0
2  2023-02-09 00:00:00    Nike      21.0
3  2023-02-09 00:00:00  Adidas      12.0
4  2023-03-09 00:00:00    Nike      18.0
5  2023-03-09 00:00:00  Adidas      11.0
6  2023-04-09 00:00:00    Nike      22.0
7  2023-04-09 00:00:00  Adidas      13.0
8  2023-05-09 00:00:00    Nike      20.0
9  2023-05-09 00:00:00  Adidas      10.0